#bag{
    width: 200px;
    height: 500px;
    margin: 0 auto;
    background: url('./images/bag.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 85%;
}
#bag.burst{
    background: url('./images/bag-burst.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 85%;
}
#bag-health{
    width: 200px;
    border: 2px solid #000;
    margin: 0 auto 20px auto;
}

#bag-health div{
    height: 20px;
    background: crimson;

}

#controls{
    width: 120px;
    margin: 0 auto;
}